/* 
    Document   : default
    Created on : May 20, 2014, 6:49:40 PM
    Author     : bluejack
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
html,body {height:100%;}
.fillHeight {height:100%;}
.bottom { position: absolute; bottom: 0; left: 0; }
.margin-little {
    margin: 10px 10px 10px 10px
}
input#fileInput {
    display: none;
}

downloadify {
    display:none;
}

#treeJumbo {
}


#load, #download {
}

